.bubble-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bubble {
  max-width: 60%;
  padding: 15px;
  border-radius: 15px;
  position: relative;

  p {
    margin-bottom: 15px;
    color: #fff;
  }

  .time {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.7);
  }

  &.user {
    align-self: flex-end;
    background-color: #2b2d31;
    border-bottom-right-radius: 5px;
  }

  &.assistant {
    align-self: flex-start;
    background-color: #1f2023;
    border-bottom-left-radius: 5px;
  }
}