.chat {
    z-index: -1;
    position: fixed;
    margin-top: 80px;
    margin-left: 70px;
    overflow-y: scroll;
    width: calc(100% - 70px);
    height: calc(100vh - 148px);
    transition: .5s;
    padding: 20px;
    background-color: #313338;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #202225;
        border-radius: 4px;
    }

    .chat-container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.chat.open {
    margin-left: 240px;
    width: calc(100% - 240px);
}


@media screen and (max-width:768px) {
    .chat{
        width: 100%;
        margin-left: 0;
    }
    .chat.open{
        margin-left: 240px;
        width: 100%;
    }
}